[Unit]
Description=Bytebeam Uplink service
After=network.target auditd.service

[Service]
ExecStart=/usr/share/bytebeam/uplink -vvv  -a /usr/share/bytebeam/device_config.json
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
